<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jw_android.learn_modern_android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Learnmodernandroid">
        <activity
            android:name=".view.fragment.ViewpagerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.fragment.LoadFragmentActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".view.recyclerview.SpinnerActivity"
            android:exported="false" />
        <activity
            android:name=".view.recyclerview.RecylrTrainingAtivity"
            android:exported="true" />
        <activity
            android:name=".intermediate.Task"
            android:exported="true" />
        <activity
            android:name=".view.TestActivity"
            android:exported="false" />
        <activity
            android:name=".intermediate.ActivityLifeCycle"
            android:exported="true" />
        <activity
            android:name=".intermediate.IntentSubActivity"
            android:exported="false" />
        <activity
            android:name=".intermediate.IntentStudy"
            android:exported="true" />
        <activity
            android:name=".intermediate.LearnActivity"
            android:exported="true" />
        <activity
            android:name=".view.base.BaseActivity"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".view.LayoutActivity"
            android:exported="true" />
        <activity
            android:name=".intermediate.ScopeFunction2"
            android:exported="true" />
        <activity
            android:name=".intermediate.ScopeFunction"
            android:exported="true" />
        <activity
            android:name=".basic.NullSafety"
            android:exported="true" />
        <activity
            android:name=".basic.Class"
            android:exported="true" />
        <activity
            android:name=".basic.Function"
            android:exported="true" />
        <activity
            android:name=".basic.Loop"
            android:exported="true" />
        <activity
            android:name=".basic.ArrayCollection"
            android:exported="true" />
        <activity
            android:name=".databinding.DataBindingActivity"
            android:exported="false" />
        <activity
            android:name=".basic.BasicSyntax"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>